
*{
    margin:0;
    padding:0;
}
body {
    text-align:left;
}
.wrapper{
    width:1700px;
    margin: 0 auto;
    height: 0.5in;
}
header {
    height 100px;
    background:#262626;
    width: 100;
    z-index:12;
    position: fixed;
}
.logo{
    width:40%;
    float:left;
    line-height:100px;
    margin-left: 0.3in;
}
.logo a{
    text.decoration:none;
    font-size: 35px;
    font-family: bignoodletitling;
    color:#fff;
    letter-spacing:5px;
}
nav:hover {
    color: red;
}

nav {
    float:right;
    margin-right: 3in;
    line-height:10px;
    padding-top: 25px;
    letter-spacing:0;;
    font-size: 15px;
    color: # whitesmoke;
    word-spacing: 4px;
}

.banner-area{
    width:100%;
    height:500px;
    position: fixed;
    top:100px;
    background-image: url(../image/33.jpg);
    background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h4{
    padding-top: 17%;
    font-size: 38px;
    font-family: poppins;
    text-transform: uppercase ;
    color:#262626;
    padding-right: 15%;
    padding-left: 15%;
}
.content-area{
    width:150%;
    position: absolute;
    top: 450px;
    background-image: url(../image/32.jpg);
    background-repeat: no-repeat;
    height: 1500px;
    margin-left: -1in;
    margin-right: 0;
    
}


.container {
    margin-right: 0;
    margin-top: 0.5in;
    padding top: 0;
    position:relative;
    width: 900px;
    height: 160px;
    justify-content: space-between;
    border:6px solid;
    box-sizing:border-box;
    border-width: 0.5in;
    border-style: groove;
    height:200px;
    font-size:15px;
    font-weight: bold;
}




  

.container .cards:nth-child(1)
{
    background-image: url(../image/36.jpg);
    background-blend-mode: darken;
}


.row {
    margin:left 0;
    margin: right;
    
}


div.demo {
    border:6px solid #ccc;
    box-sizing:border-box;
    margin-left: 0;
    border-width: 0.5in;
    border-style: groove;
    background-image: url(../image/35.jpg);
    color: peachpuff;
    position:relative;
    text-align: left;
    font-weight: bold;
}

div.column2 {
    margin-right: 2in;
    margin-left: 2in;
    box-sizing:border-box;
    margin-left: 0;
    padding:40px;
    
}
#sidebar{
    float: right;
    width:30%;
    background-color:#333;
    padding:20px;
    box-sizing:border-box;
    border:6px solid #ccc;
    border-width: 0.2in;
    border-style: groove;
    background-image: url(../image/40.jpg);
    font-weight: bold;
    font-size: 17px;
    margin-top: 0.5in;
}
.categories {
    margin-left: 0.3in;
    margin-right: 0.3in;
}

}

}
ul:hover {
    color:red;
}
a:hover {
    color: red;
}

.block-1{
    float:left;
    width: 33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
    border:6px solid #ccc;
    border-width: 0.2in;
    border-style: groove;
    background-image: url(../image/37.jpg);
    padding-right: 1.5in;
    font-weight: bold;
}
.block-2{
    float:left;
    width: 33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
    border:6px solid #ccc;
    border-width: 0.2in;
    border-style: groove;
    background-image: url(../image/38.jpg);
    padding-right: 2.5in;
    font-weight: bold;
}

.block-3{
    float:left;
    width: 33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
    border:6px solid #ccc;
    border-width: 0.2in;
    border-style: groove;
    font-weight: bold;
    font-size: 16px;
    background-image: url(../image/39.jpg);
}
.block, h2{
    text-align: center;
}
